.nav-pills .nav-link.active {
  background-color: transparent;
  color: white;
  text-decoration: none;
  /*color: #0d6efd; standardblau bei react bootstrap*/
}

.nav-link {
  color: silver;
  font-weight: bold;
  font-size: x-large;
}

.nav-link:hover {
  color: white;
}

/* Items im Menü */
.dropdown .dropdown-item {
  color: silver;
}

/* Hover-Effekt */
.dropdown .dropdown-item:hover {
  /*background-color: rgba(0, 0, 0, 0.5);*/
  color: white;
}

/* Aktiver Link (wenn Route aktiv ist) */
.dropdown .dropdown-item.active {
  /*background-color: rgba(0, 0, 0, 1);*/
  color: white;
}

.dropdown-toggle#nav-dropdown {
  background: transparent;
  color: silver;
  border: none;
}

.dropdown-toggle#nav-dropdown:active {
  color: white;
  text-decoration: none;
}

.dropdown-toggle#nav-dropdown:hover {
  color: white;
}

.nav-dropdown-item {
  font-size: medium;
}

.dropdown-menu-dark {
  background-color: rgba(0, 0, 0, 0.8);
  min-width: 5rem;
}

#menu {
  background-color: transparent;
  color: silver;
}

#menu:hover {
  color: white;
}

.dropdown-menu {
  margin-left: -1rem;
  margin-top: -0.2rem;
}
