.message-wrapper {
  display: flex;
  margin: 0.5rem 0;
  flex-direction: column;
  position: relative;
}

.message-container {
  border-color: black;
  border-width: thin;
  border-style: solid;
  border-radius: 1rem;
  color: #2f4858;
  position: relative;
  width: fit-content;
  background-color: white;
  background-image: url('../../img/message_background.jpg');
}

#message-container-preview {
  border-color: royalblue;
  border-width: medium;
}

.edit {
  min-width: 75%;
  max-width: 100%;
}

.save {
  min-width: 15rem;
  max-width: 75%;
}

.message-button-edit {
  margin-right: 10px;
}

.message-button-edit:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.message-header {
  border-color: black;
  border-width: thin;
  border-bottom-style: dotted;
  padding: 0rem 0.6rem 0rem 0.6rem;
  display: flex;
  justify-content: space-between;
  height: 2rem;
  font-size: 16px;
  align-items: center;
}

.message-header-block {
  font-size: 16px;
}

#message-span {
  margin-right: 10px;
}

.message-body {
  padding: 0rem 0.6rem 0.2rem 0.6rem;
  word-wrap: break-word;
  margin-left: 0.5rem;
  white-space: pre-wrap;
  font-size: 16px;
  text-align: left;
  word-break: break-all;
}

#message-textarea {
  width: 100%;
  font-size: 16px;
  word-break: break-all;
}

#message-display {
  font-size: 16px;
  word-break: break-all;
}

/* Farben */
.text-orange {
  color: orangered;
}

.text-blue {
  color: royalblue;
}

.text-pink {
  color: deeppink;
}

.align-left .message-container {
  margin-left: 0;
  margin-right: auto;
}

.align-center .message-container {
  margin-left: auto;
  margin-right: auto;
}

.align-right .message-container {
  margin-left: auto;
  margin-right: 0;
}

.response-info {
  font-size: 11px;
  color: #2f4858;
  text-align: center;
}

.response-link {
  background: none;
  border: none;
  color: #2f4858;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font-size: 11px;
}

.response-link:hover {
  color: black;
}

.response-popup {
  position: absolute;
  background: transparent;
  max-height: 300px;
  overflow-y: hidden;
  overflow-x: hidden;
  bottom: 85%;
  left: 30%;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes highlight {
  0% {
    background-color: dodgerblue;
  }
  100% {
    background-color: transparent;
  }
}

.message-highlight {
  animation: highlight 2s ease-out;
}
